/* .container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
main a {
  text-decoration: none;
  color:  var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}
.active {
  color: var(--color-active);
  cursor: default;
} */
body{ background: #27AAE1;}
.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}
.header{background:  #DD4F43;}
.wrapper{width: 1170px;margin: 10px auto;}
.header-section{overflow: hidden;}
.logo{width: 20%;float: left;}
.nav{width: 80%;float: right;}
.nav ul{list-style: none;float: right; }
.nav ul li{display: inline-block; }
.nav ul li a{text-decoration: none;padding: 10px 15px;font-size: 20px;color: #fff; }
.nav ul li a:hover{color: #DD4F43;background: #fff; }